.--journal .header, .--article .header{
    background-image: url(../image/header_bg\ \(4\).png);
}
.--journal .container{
    padding-top: 90px;
    padding-bottom: 120px;
    width: 1500px;
    position: relative;
}
.--journal .new_article, .--journal .other_article{
    .img{
        overflow: hidden;
        img{
            @include img-fit;
        }
    }
}

.journal_category_tabs{
    position: absolute;
    right: 0;
    height: calc(100% - 90px);
    z-index: 1;
}
.tab-stickey{
    position: sticky;
    top: 0;
    width: 60px;
    margin-bottom: 600px;
    &:hover{
        .event{transform: translateY(200px);}
        .stories{transform: translateY(calc(200px + 100%));}
        .lifestyle{transform: translateY(calc(200px + 200%));}
        .buynotes{transform: translateY(calc(200px + 300%));}
    }
}
.tabs_head, .tab{
    width: 100%;
    background-color: $bg;
    writing-mode: vertical-lr;
    text-align: center;
    border: 2px solid #000;
    margin-bottom: 2px;
}
.tabs_head{
    height: 200px;
    font-size: $font-l;
    padding: 0 10px;
}
.tab{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform 0.8s ease-out;
    height: 150px;
    padding: 0 15px;
    font-size: $font-m;
    &:hover{
        background-color: $secondary;
        color: $bg;
    }
}
.event{z-index: -1;}
.stories{z-index: -2;}
.lifestyle{z-index: -3;}
.buynotes{z-index: -4;}

.--journal .new_article {
    display: grid;
    height: 690px;
    grid-template-columns: 1125px 1fr;
    grid-template-rows: 200px 280px 1fr;
    border: 1px solid #000;
    .img{
        grid-row: 1/3 span;
        padding: 75px 100px;
        width: 100%;
        height: 100%;
        justify-self: center;
        align-self: center;
        border-right: 1px solid #000;
    }
    .article_title{
        align-self: flex-end;
        padding:0 60px 16px 16px;
        border-bottom: 1px solid #000;
        .article_date{
            font-size: $font-s;
            margin-bottom: 14px;
        }
        h3{
            font-size: $font-l;
        }
    }
    .article_content{
        color: rgba(0,0,0,0.5);
        font-size: $font-s;
        line-height: 1.5;
        padding: 24px 60px 24px 24px;
        border-bottom: 1px solid #000;
    }
    .readmore{
        align-self: flex-end;
        font-size: 70px;
        line-height: 0.6;
        padding: 24px;
        &:hover{
            text-decoration: underline;
        }
    }
}
.--journal .other_article ul{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 460px;
    .article_item a{
        padding: 30px 40px;
        border: 1px solid #000;
        border-top: none;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 245px 1fr;
        & +li{
            border: 1px solid #000;
            border-top: none;
            border-left: none;
        }
        .article_date{
            order: -1;
        }
        .fa-arrow-right{
            transform: rotate(-45deg);
            order: 1;
            justify-self: end;
            height: fit-content;
            font-size: $font-l;
        }
        .img{
            grid-column: 1/2 span;
            order: 2;
        }
        h3{
            order: 3;
            grid-column: 1/2 span;
            text-align: center;
            align-self: center;
        }
        &:hover{
            background-color: $secondary;
            *{color: $bg;}
        }
    }
}