.--login .header-bg, .--register .header-bg{
    background-image: url(../image/header_bg\(3\).png);
    
}
@include pad-H{
    .--login .header-bg, .--register .header-bg{
        background-position: 85% center;
    }
}

.--login .container, .--register .container{
    width: 360px;
    *{color: #000;}
    padding-top: 90px;
    padding-bottom: 150px;
}
.--login fieldset, .--register fieldset{
    *{font-family: $font-prim;}
    legend{
        font-size: $font-m;
        margin-bottom: 26px;
        text-align: center;
    }
    img{
        display: block;
        height: 60px;
        margin-bottom: 34px;
    }
    input{
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #000;
        width: 100%;
        padding: 5px 25px;
        font-size: $font-s;
        &::placeholder{
            color: rgba(0,0,0,0.25);
        }
        &:focus{
            outline: none;
        }
    }
    button{
        @include func_btn(100%);
    }
}
.--login fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    input{
        margin-bottom: 36px;
        &+input{
            margin-bottom: 40px;
        }
    }
}
.member_link{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: $font-xs;
    margin-bottom: 40px;
    a:hover{
        text-decoration: underline;
    }
}
.other_login{
    width: 70%;
    margin: 0 auto;
    padding-top: 35px;
    border-top: 3px solid rgba(0,0,0,0.1);
    h6{
        font-size: $font-m;
        text-align: center;
        margin-bottom: 30px;
    }
    .logo_group{
        display: flex;
        justify-content: center;
        gap: 48px;
    }
}