.--product .container {
    position: relative;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
}

.--product {
    .product_choose,
    .product_info {
        font-family: $font-scnd;
    }
}
@keyframes longArrowMove{
    0%, 50%, 100%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-10px);
    }
    75%{
        transform: translateX(-7px);
    }
}
.prev_page{
    display: block;
    width: 20px;
    position: absolute;
    top: 20px;
    left: 30px;
    img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &:hover{
        animation: longArrowMove 1.5s;
    }
}
@include pad-V {
    .--product .container {
        max-width: 900px;
        padding-top: 120px;
        padding-right: 20px;
        padding-left: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .prev_page{
        top: 45px;
        width: 40px;
    }
}

@include pad-H {
    .--product .container {
        justify-content: center;
    }
    .prev_page{
        left: 0;
    }
}

@include desktop {
    .--product .container {
        max-width: 1200px;
    }
}

.cart_modal{
    position: fixed;
    top: 110%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    width: 90%;
    background-color: $bg;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: display 0.1s 0.4s, transform 0.4s;

    button{
        @include func_btn(100%);
    }
}
.cart_modal.visible{
    
    top: 100%;
    transform: translate(0,-100%);
    transition: transform 0.3s 0.1s, top 0.1s;
}
.cart_modal_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    span{
        font-size: $font-xs;
    }
    i{  
        font-size: $font-m;
    }
}

.cart_preitem{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 12px 8px;
    margin-bottom: 30px;
    display: flex;
    .img{
        width: 30%;
        aspect-ratio: 2/3;
        margin-right: 20px;
        color: #000;
        img{
            @include img-fit;
        }
    }
    .text{
        padding-top: 10px;
        line-height: 1.5;
        h6{
            font-size: $font-s;
            margin-bottom: 8px;
        }
        span{
            font-size: $font-xs;

        }
    }
    
}
.view_cart{
    display: block;
    width: 100%;
    height: $btn-h;
    line-height: $btn-h;
    color: #000;
    font-family: $font-scnd;
    text-align: center;
    font-size: $font-s;
    border: 1px solid $secondary;
    cursor: pointer;
    margin-bottom: 10px;
    *{
        color: #000;
    }
    &:hover{
        background-color: $secondary;
        color: $bg;
        *{
            color: $bg;
        }
    }
}

@include pad-V{
    .cart_modal{
        left: 5%;
        margin: 0;
        width: 50%;
    }
}
@include pad-H{
    .cart_modal{
        top: 60px;
        left: 105%;
        width: 380px;
    }
    .cart_modal.visible{
        transform: translate(-100%,0);
        top: 60px;
        left: 100%;
        transition: transform 0.3s 0.1s, left 0.1s;

    }
    .cart_modal_head{
        span{
            font-size: $font-s;
        }
        i{  
            font-size: 24px;
        }
    }
    .cart_preitem{
        padding: 15px 10px;
        margin-bottom: 40px;
        .img{
            width: 40%;
        }
        .text{
            span{
                font-size: $font-s;
            }
        }
        
    }
}
@include desktop{
    .cart_preitem{
        padding:  15px;
        .img{
            width: 25%;
        }
    }
}
.product_pic {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.mainshow {
    width: 75%;
    aspect-ratio: 19/26;
    margin-bottom: 12px;
    overflow: hidden;
    img {
        @include img-fit;
    }
}

.showslide {
    width: 100%;
    position: relative;

    
        .img {
            cursor: pointer;
            aspect-ratio: 19/26;
            overflow: hidden;
            position: relative;
            left: 0px;
            img {
                @include img-fit;
            }
        }

        .img.active {
            border: 2px solid $primary;
        }
}
.owl-theme{
    position: relative;
}
.owl-theme .owl-nav{
    margin-top: 0;
    [class*="owl-"]:hover{
        background-color: transparent;
    }
}
.owl-prev, .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% - 5px));
}
.owl-prev{
    right: 101%;
}
.owl-next{
    left: 101%;
}
.owl-dots{
    display: none;
}

@include pad-V {
    .product_pic {
        width: 40%;
        position: sticky;
        top: 10px;
        margin-bottom: 0;
    }

    .mainshow, .showslide {
        width: 100%;
    }
}

@include pad-H {
    .product_pic {
        margin-right: 100px;

    }
}

@include desktop {
    .product_pic {
        margin-right: 180px;
    }

    .showslide {
        ul {
            .img {
                &:hover {
                    @include color-mask(rgba(256, 256, 256, 0.4));
                }
            }
        }
    }
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 12px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    i {
        font-size: $font-xs;
        width: 12px;
        color: rgba(0, 0, 0, 0.6);
    }

}

.product_content {
    display: flex;
    flex-direction: column;

    header {
        margin-bottom: 24px;

        h2 {
            font-size: $font-m;
            margin-bottom: 16px;
        }

        h3,
        .price {
            font-size: $font-xs;
            margin-bottom: 20px;
        }

        .price {
            margin-bottom: 18px;
        }

        p:last-child {
            font-size: $font-xs;
        }
    }
}

@include pad-V {
    .product_content {
        width: 40%;
        header{
            h2{
                font-size: $font-l;
            }
            .price {
                font-size: $font-s;
            }
        }
    }
}

@include pad-H {
    .product_content {
        width: 480px;

        h2 {
            font-size: $font-xl;
        }
    }
}

.product_choose {

    margin-bottom: 30px;
}

.color_choose,
.quantity {
    legend {
        font-size: $font-xs;
        font-family: $font-prim;
        text-transform: capitalize;
        margin-bottom: 18px;
    }
}

.color-btn_group {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    gap: 12px;
    margin-bottom: 44px;

    label {
        padding: 8px 18px;
        border-radius: 40px;
        background-color: #fff;
        border: 1px solid lighten($secondary, 20%);
        color: $secondary;
        font-size: $font-s;
        cursor: pointer;

        &:hover {
            border: 1px solid $secondary;
        }
    }

    input {
        display: none;

        &:checked+label {
            color: #fff;
            background-color: $secondary;
            border: 1px solid $secondary;
        }
    }
}

@include pad-V{
    .color-btn_group{
        width: 200px;
    }
}
.amount-btn_group {
    width: 142px;
    height: 48px;
    border: 2px solid #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 24px;
    font-size: $font-xs;
    input {
        display: inline-block;
        width: 20px;
        background-color: transparent;
        border: none;
        text-align: center;
    }
    button i {
        color: #000;
    }
    button.unclickable {
        cursor: auto;
        i{
            color: #aaa
        }
    }
}

.add_cart {
    button {
        @include func_btn(350px);
        max-width: 100%;
    }
}

.product_info {
    margin-left: -12px;
}

.product_info article {
    * {
        color: #000;
    }

    width: 100%;

    p {
        font-size: $font-xs;
        line-height: 2;
        padding: 0 12px;
    }

}

.accordion {
    overflow: hidden;
    margin-top: 34px;

    label {
        display: flex;
        justify-content: space-between;
        padding: 18px 12px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        font-size: $font-xs;
        cursor: pointer;

        h6 {
            text-transform: capitalize;
        }

        i {
            color: #000;
            transform: rotate(180deg);
            transition: 0.6s;
        }
    }

    input {
        display: none;

        &:checked {
            +label i {
                transform: rotate(0deg);
            }

            ~p {
                height: fit-content;
                //瀏覽器無法實現從0到fit-content的平滑過度效果
                padding-top: 18px;
                padding-bottom: 18px;
            }
        }
    }

    p {
        height: 0;
        padding: 0 12px;
        transition: height 1s linear, padding-top 0.3s linear, padding-bottom 0.3s linear;
    }

    +.accordion {
        margin-top: -1px;
    }
}

@include pad-H {
    .accordion label {
        font-size: $font-s;
    }
}

.recommand.container {
    margin-top: 100px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 767.9px){
    .recommand.container{
        padding-right: 10px;
        padding-left: 10px;
    }
}
@include desktop {
    .recommand.container {
        margin-top: 250px;
    }

}

.recommand_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

    h4 {
        font-size: $font-s;
        margin-bottom: 30px;
    }

    img {
        display: block;
        height: 60px;
    }
}

@include pad-H {
    .recommand_title {
        margin-bottom: 70px;

        h4 {
            font-size: $font-m;
            margin-bottom: 30px;
        }

    }
}

.recommand_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}

.recommand_item {
    width: 50%;
    padding: 0 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    a {
        display: block;
        width: 100%;
    }

    .img {
        width: 100%;
        aspect-ratio: 2/3;
        margin-bottom: 15px;

        img {
            @include img-fit;
        }
    }

    .name {
        font-size: $font-xs;
        padding: 0 8px;
        margin-bottom: 14px;
    }

    .price {
        font-size: $font-xs;
        padding: 0 8px;
    }

}
@include pad-V{
    .recommand_list{
        flex-wrap: nowrap;
        gap: 4px;
    }
    .recommand_item{
        width: 25%;
    }
}
@include pad-H {
    
    .recommand_item {
        .name {
            font-size: $font-s;
        }

        .price {
            font-size: $font-s;
        }

        &:hover {
            a {
                text-decoration: underline;
            }
        }
    }
}